
<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="panel-title">
                User List
            </div>
        </div>
        <div class="panel-body"> 
            <table class="table table-striped table-hover table-bordered">
                <thead>
                <tr>
                    <th> Full Name</th>                    
                    <th>Email</th>
                    <th colspan="2" >Action</th>
                </tr>
                </thead>
                <tbody>
                    {{#each userList }}
                        <tr>
                            <td>{{firstName}}</td>
                            <td>{{email}}</td>                    
                            <td><a href="getUser/{{email}}"><span class="glyphicon glyphicon-edit"></span> </td>
                            <td> <a href="delete/{{_id}}" onclick="return confirm('Are you sure?')" ><span class="glyphicon glyphicon-trash"></span></td>
                        </tr>
                    {{/each}}
                    
                </tbody>
            </table>
        </div>

    </div>
</div>